* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(251, 251, 251);
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.5%;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(46, 246, 233);
  margin-bottom: 5rem;
  box-shadow: 0px 2.98256px 7.4564px rgb(23, 138, 133);
}
.hidden {
  display: none;
}
.navbar h1 {
  align-self: center;
  margin-right: auto;
  margin-left: 3rem;
  color: #ed0d0d;
  font-size: 4.3rem;
  font-family: "Sacramento", cursive;
  letter-spacing: 0.2rem;
}
.navbar p {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: rgb(24, 135, 130);
  margin-right: 3rem;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 3.3rem;
  font-family: "Sacramento", cursive;
  font-weight: 200;
  margin-bottom: 1rem;
}
.form-wrapper {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  left: 5rem;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.input {
  width: 100%;
}
.input input {
  font-size: 1.5rem;
  width: 100%;
  padding: 1.2rem 15rem 2rem 1.2rem;
  border: 1px solid rgb(218, 211, 211);
  border-radius: 4px;
  outline: invert;
  outline-color: rgb(46, 246, 233);
}
.btn {
  width: 100%;
  border-radius: 4px;
}
.btn button {
  width: 100%;
  padding: 0.8rem 8rem;
  border: 1px solid rgb(46, 246, 233);
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  background-color: rgb(46, 246, 233);
  text-align: center;
  letter-spacing: 0.1rem;
  color: rgb(20, 109, 104);
}
.btn button:hover {
  color: rgb(23, 138, 133);
  border: 2px solid rgb(46, 246, 233);
  background-color: transparent;
  transition: 0.1s;
}

.expenses {
  flex-basis: 60%;
  position: relative;
  top: 1rem;
  right: 3rem;
  border-bottom: 1px solid rgb(218, 211, 211);
  margin: 0 3em;
  border-radius: 4px;
}
.exp-header {
  padding: 1.3rem;
  border-bottom: 1px solid rgb(23, 138, 133);
  color: rgb(23, 138, 133);
  font-weight: 500;
  font-size: 2.5rem;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
.expense {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
  padding: 1.3rem;
  border-bottom: 1px solid rgb(218, 211, 211);
  color: rgb(61, 61, 61);
}
.typeexp {
  flex-basis: 70%;
}
.fa-trash {
  border: 1px solid rgb(253, 54, 54);
  padding: 0.5rem 0.7rem;
  color: rgb(253, 54, 54);
  border-radius: 3px;
  font-size: 1.3rem;
  cursor: pointer;
}
.fa-trash:hover {
  color: white;
  background-color: rgb(253, 54, 54);
  transition: 0.5s;
}
.total {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  padding: 1.3rem;
  border-radius: 4px;
  color: rgb(24, 135, 130);
  background-color: rgb(198, 251, 248);
}
.total-text {
  flex-basis: 70%;
  font-weight: 500;
}
.total-num {
  flex-basis: 20%;
}

@media screen and (max-width: 700px) {
  main {
    flex-direction: column;
  }
  .form-wrapper {
    position: relative;
    left: 0;
  }
  .expenses {
    right: 0;
    margin: 0 0em;
  }
}

@media screen and (min-width: 701px) and (max-width: 1250px) {
  .form-wrapper {
    left: 1rem;
  }

  .expenses {
    right: 0rem;
    flex-basis: 50%;
    margin: 0 3em;
  }

  .total-text {
    flex-basis: 70%;
    font-weight: 500;
  }
  .total-num {
    flex-basis: 22%;
  }
}
